<div>
    <h4 class="page-header text-warning">Implementation Notes</h4>
    <p>Updates a {{ collection.name }} item.</p>

    <h4 class="page-header text-warning">Request and Response Model</h4>
    <p>The model of the {{ collection.name }} item to be updated.  The updated object is returned.</p>
    <pre class="pre-scrollable">{{ odm.json(collection.definition) }}</pre>

    <h4 class="page-header text-warning">Parameters</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Description</th>
                <th>Parameter Type</th>
                <th>Data Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="code required">_id</td>
                <td>
                    <strong>_id of the {{collection.name}} item that needs to be updated</strong>
                </td>
                <td>path</td>
                <td>
                    <span class="model-signature">string</span>
                </td>
            </tr>
        </tbody>
    </table>

    <h4 class="page-header text-warning">Error Status Codes</h4>
    <table class="table">
        <thead>
            <tr>
                <th>HTTP Status Code</th>
                <th>Reason</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="15%">400</td>
                <td>Invalid _id supplied.</td>
            </tr>
            <tr>
                <td width="15%">404</td>
                <td>{{ collection.name }} item not found.</td>
            </tr>
        </tbody>
    </table>
</div>