<div>
    <h4 class="page-header text-success">Implementation Notes</h4>
    <p>Creates a new {{ collection.name }} item.</p>

    <h4 class="page-header text-success">Request Model</h4>
    <p>The model of the {{ collection.name }} item to be created.</p>
    <pre class="pre-scrollable">{{ odm.json(collection.definition) }}</pre>

    <h4 class="page-header text-success">Error Status Codes</h4>
    <table class="table">
        <thead>
            <tr>
                <th>HTTP Status Code</th>
                <th>Reason</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="15%">404</td>
                <td>{{ collection.name }} item not found.</td>
            </tr>
        </tbody>
    </table>
</div>