<div class="row login">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="well well-lg">
            <div class="text-center">
                <img src="/images/logo.png" alt="MongoConductor" />
            </div>
            <form>
                <fieldset>
                    <legend>Login</legend>
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="text" class="form-control" placeholder="Enter email" ng-model="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Enter password" ng-model="password">
                        <p class="help-block"><a href="#">Forgot Password?</a>
                        </p>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="login()">Login</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
