<div class="container-padded">
    <div class="content">
        <div class="page-header">
            <h3>Welcome!</h3>
        </div>
        <p>backrest is RESTful API server for <a href="http://www.mongodb.org/" target="_blank">MongoDB</a>. It is written in <a href="http://nodejs.org/" target="_blank">Node.js</a>, <a href="http://expressjs.com/" target="_blank">Express</a>, <a hreg="http://angularjs.org/" target="_blank">AngularJS</a>, and utilizes <a href="http://mongoosejs.com/" target="_blank">Mongoose</a> and <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a>. Thanks to all these projects and many other that make this project possible.</p>
    </div>
</div>
