<div class="container-padded">
    <div class="content">
        <div class="page-header">
            <h3>Welcome!</h3>
        </div>
        <p>Backrest is a noBackend RESTful API server.  It is written in <a href="http://nodejs.org/">Node.js</a>, <a href="http://expressjs.com/">Express</a>, <a href="http://angularjs.org/">AngularJS</a>, and utilizes <a href="http://www.mongodb.org/">MongoDB</a>, <a href="http://mongoosejs.com/">Mongoose</a> and <a href="http://getbootstrap.com">Twitter Bootstrap</a>.  Thanks to all these great projects and many others that make this project possible.</p>
    </div>
</div>
