<div class="modal fade" id="documentationModal">
    <div class="modal-dialog modal-dialog-documentation">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ collection.name }} API Documentation</h4>
            </div>
            <div class="modal-body">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <a class="accordion-toggle text-warning" data-toggle="collapse" data-parent="#accordion" href="#collapseUpdate">
                                <span class="label label-warning panel-label">PUT</span>
                                <span>{{ baseUri }}/api/{{ collection.name }}/{_id}</span>
                                <span class="pull-right">Updates a {{ collection.name }} item.</span>
                            </a>
                        </div>
                        <div id="collapseUpdate" class="panel-collapse collapse">
                            <div class="panel-body" ng-include="'/views/documentation/update.html'">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <a class="accordion-toggle text-danger" data-toggle="collapse" data-parent="#accordion" href="#collapseDelete">
                                <span class="label label-danger panel-label">DELETE</span>
                                <span>{{ baseUri }}/api/{{ collection.name }}/{_id}</span>
                                <span class="pull-right">Deletes a {{ collection.name }} item.</span>
                            </a>
                        </div>
                        <div id="collapseDelete" class="panel-collapse collapse">
                            <div class="panel-body" ng-include="'/views/documentation/delete.html'">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <a class="accordion-toggle text-info" data-toggle="collapse" data-parent="#accordion" href="#collapseList">
                                <span class="label label-info panel-label">GET</span>
                                <span>{{ baseUri }}/api/{{ collection.name }}</span>
                                <span class="pull-right">Gets a list of {{ collection.name }} items.</span>
                            </a>
                        </div>
                        <div id="collapseList" class="panel-collapse collapse">
                            <div class="panel-body" ng-include="'/views/documentation/getlist.html'">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <a class="accordion-toggle text-info" data-toggle="collapse" data-parent="#accordion" href="#collapseGet">
                                <span class="label label-info panel-label">GET</span>
                                <span>{{ baseUri }}/api/{{ collection.name }}/{_id}</span>
                                <span class="pull-right">Gets an individual {{ collection.name }} item.</span>
                            </a>
                        </div>
                        <div id="collapseGet" class="panel-collapse collapse">
                            <div class="panel-body" ng-include="'/views/documentation/get.html'">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <a class="accordion-toggle text-success" data-toggle="collapse" data-parent="#accordion" href="#collapseCreate">
                                <span class="label label-success panel-label">POST</span>
                                <span>{{ baseUri }}/api/{{ collection.name }}</span>
                                <span class="pull-right">Creates a new {{ collection.name }} item.</span>
                            </a>
                        </div>
                        <div id="collapseCreate" class="panel-collapse collapse">
                            <div class="panel-body" ng-include="'/views/documentation/create.html'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>