<div class="modal fade" id="documentationModal">
    <div class="modal-dialog modal-dialog-documentation">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Users API Documentation</h4>
            </div>
            <div class="modal-body">
                <div class="panel-group" id="accordion">
                    <div ng-repeat="apiCall in apiCalls" class="panel panel-{{ getColor(apiCall.method) }}">
                        <div class="panel-heading">
                            <a class="accordion-toggle text-{{ getColor(apiCall.method) }}" data-toggle="collapse" data-parent="#accordion" href="{{ '#' + apiCall.key }}">
                                <span class="label label-{{ getColor(apiCall.method) }} panel-label">{{ apiCall.method }}</span>
                                <span>{{ apiCall.url }}</span>
                                <span class="pull-right">{{ apiCall.description }}</span>
                            </a>
                        </div>
                        <div id="{{ apiCall.key }}" class="panel-collapse collapse">
                            <div class="panel-body" ng-include="apiCall.include">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
