<div class="row-fluid">
    <div class="span4">
        <div class="app-section command-options">
            <header>
                <h4>Command Options</h4>
            </header>
        	<div class="control-group">
                <label for="collection">Collection</label>
                <div class="controls">
					<div class="btn-group" id="collection">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="text">None</span> <span class="caret"></span></a>
						<ul class="dropdown-menu">
						</ul>
					</div>
				</div>
			</div>

			<div class="control-group">
                <label for="method">Method</label>
                <div class="controls">
					<div class="btn-group" id="method">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="text">None</span> <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#" data-value="None">None</a></li>
						</ul>
					</div>
                </div>
			</div>

            <div class="control-group" id="methodActionField">
                <label for="methodAction">Method Action</label>
            	<div class="controls">
					<div class="btn-group" id="methodAction">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="text">None</span> <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#" data-value="None">None</a></li>
						</ul>
					</div>
            	</div>
            </div>

            <div class="control-group">
                <label for="params">
                    Params
                </label>
                <textarea name="params" id="params"></textarea>
            </div>
            <button class="btn btn-primary" id="btnExecute">Execute</button>
        </div>
    </div>
    <div class="span8">
        <div class="app-section">
            <header>
        	   <h4>Request</h4>
            </header>
            <div class="request">
                <h5>URL</h5>
                <div class="request-url"></div>
                <h5>POST</h5>
                <div class="request-post"></div>
            </div>
        </div>
        <div class="app-section">
            <header>
            	<h4>Response</h4>
            </header>
            <div class="response">
            </div>
        </div>
    </div>
</div>