/* Will be compiled down to a single stylesheet with your sass files */
 body {
    padding-top: 50px;
}
.navbar img {
    height:30px;
    margin: -10px 7px -10px 3px;
    display: inline-block;
}
.navbar-brand img {
    margin: -10px 20px -10px 10px;
}
.login {
    margin-top: 10%;
}
.login img {
    width: 50%;
    margin: 10px auto;
}

.form-group-indent {
    margin-left: 20px !important;
}

.container-padded {
    padding: 10px 20px;
}
.navbar .container-padded {
    padding: 0 20px;
}
.nav-stacked ul {
    margin-left: 20px !important;
}
.width-full {
    width: 100%;
}
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    background: #131313;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #131313 0%, #4c4c4c 69%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #131313), color-stop(69%, #4c4c4c));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #131313 0%, #4c4c4c 69%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #131313 0%, #4c4c4c 69%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #131313 0%, #4c4c4c 69%);
    /* IE10+ */
    background: linear-gradient(135deg, #131313 0%, #4c4c4c 69%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131313', endColorstr='#4c4c4c', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: 0px 0px 80px 0px #000 inset;
    -moz-box-shadow: 0px 0px 80px 0px #000 inset;
    -o-box-shadow: 0px 0px 80px 0px #000 inset;
    box-shadow: 0px 0px 80px 0px #000 inset;
    min-height: 500px;
    /*    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
}
.flip-container, .front, .back {
}
.flipper {
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    position: relative;
}
.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.8s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.8s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.8s;
    -o-transform-style: preserve-3d;
    -ms-transition: 0.8s;
    -ms-transform-style: preserve-3d;
    transition: 0.8s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    min-height: 500px;
    background-color: #fff;
}
.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    position: absolute;
    top: 0;
    left: 0;
}
.flip-container.flip .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    position: relative;
}
.flip-container.flip .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
}
.front {
    z-index: 2;
}
@media only screen and (max-width: 800px) {
    .content {
        padding: 10px;
    }
    /* Force table to not be like tables anymore */
    .responsive-table table, .responsive-table thead, .responsive-table tbody, .responsive-table th, .responsive-table td, .responsive-table tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    .responsive-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .responsive-table tr {
        border: 1px solid #ccc;
        margin: 10px 0;
        padding: 10px;
        background: #F9F9F9;
    }
    .responsive-table td {
        /* Behave  like a "row" */
        border: none !important;
        position: relative;
        padding-left: 100px!important;
        white-space: normal;
        text-align:left;
        min-height: 30px;
    }
    .responsive-table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 85px;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
    /*
	Label the data
	*/
    .responsive-table td:before {
        content: attr(data-title);
    }
}
